[submodule "lnd/grpc/googleapis"]
	path = lnd/grpc/googleapis
	url = https://github.com/googleapis/googleapis.git
[submodule "lnd/grpc/lnd"]
	path = lnd/grpc/lnd
	url = https://github.com/lightningnetwork/lnd.git
